#map {
  height: 400px;
  width: 600px;
}

form {
  margin: 1rem 0;
}

#console {
  width: 600px;
  background-color: whitesmoke;
}

#console .title {
  color: grey;
}

#console p {
  margin: 0;
  padding: 0.5rem;
}

.raster {
  filter: grayscale(50%);
}